<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/index_css.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>人体测温系统</title>
	<script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="/static/js/index_js.js"></script>
</head>
<body>
	<div class="box">
		<div class="div1">WELCOME TO OUR WEBSITE</div>
		<div class="div2">
			<ul class="ul1">
				<li><a href="/index/">Home</a></li>
				<li class="line">|</li>
				<li><a href="/user_list/1/">user list</a></li>
				<li class="line">|</li>
				<li><a href="/visitor_list/">visitor list</a></li>
			</ul>
			<div class="a0"><a href="">I'm Iron man</a></div>
			{%if request.session.username|default:'' != ''%}
            <div class="line11">
				欢迎您：<em>{{request.session.username}}</em> <span> &nbsp;&nbsp;&nbsp;&nbsp;| </span>
			</div>
			<a class="logout" href="/logout/">退出</a>
			{%else%}
			<a class="line1" id="two" href="/login/">log in</a>
			{%endif%}
		</div>
		<div class="div3">THANKS WATCHING</div>
	</div>
	<div class="box1" id="box_1">
		<div class="box1_0">
			<div>TEAM STYLE</div>
		</div>
		<ul class="box1_1">
			<li>
				<a href="/static/images/forest.jpg" title="forest"><img src="/static/images/forest.jpg" width="100%" height="100%" alt="?"></a>
				<p style="display: none">团队风采1</p>
			</li>
			<li>
				<a href="/static/images/sea.jpg" title="sea"><img src="/static/images/sea.jpg" width="100%" height="100%" alt="?"></a>
				<p style="display: none">团队风采2</p>
			</li>
			<li>
				<a href="/static/images/mountain.jpg" title="mountain"><img src="/static/images/mountain.jpg" width="100%" height="100%" alt="?"></a>
				<p style="display: none">团队风采3</p>
			</li>
			<li>
				<a href="/static/images/55555.jpg" title="pikaqiu"><img src="/static/images/55555.jpg" width="100%" height="100%" alt="?"></a>
				<p style="display: none">团队风采4</p>
			</li>
		</ul>
	</div>
</body>
</html>
