<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/css/home_css.css">
			
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>人体测温系统</title>
			<script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
			<script type="text/javascript" src="/static/js/home_js.js"></script>
	</head>
	<body>
		<div class="box">
			<div class="div1">WELCOME TO OUR WEBSITE</div>
			<div class="div2">
				<ul class="ul1">
					<li><a href="/index/">Home</a></li>
					<li class="line">|</li>
					<li><a href="/user_list/1/">user list</a></li>
					<li class="line">|</li>
					<li><a href="/visitor_list/">visitor list</a></li>
				</ul>
				<div class="a0"><a href="">I'm Iron man</a></div>
				{%if request.session.username|default:'' != ''%}
                <div class="line11">
				欢迎您：<em>{{request.session.username}}</em> <span> &nbsp;&nbsp;&nbsp;&nbsp;| </span>
				</div>
				<a class="logout" href="/logout/">退出</a>
				{%else%}
				<a class="line1" id="two" href="/login/">log in</a>
				{%endif%}
			</div>
			<div class="div3">THANKS WATCHING</div>
		</div>
		<div class="box3" id="box_3">
			<div class="box3_0">
				<div class="box3_0_1">Visitors List</div>
				<div class="box3_0_2">Dangerous List</div>
			</div>
			<div class="box3_1">
				<div class="box3_1_1" style="overflow: auto">
				<ul class="ul2">
					<li class="u13_1">UID</li>
					<li class="u13_2">Name</li>
					<li class="u13_3">Telephone</li>
					<li class="u13_4">Tempture(°C)</li>
					<li class="u13_5">Visit'time</li>
				</ul>
				<ul class="ul3">
                    {%for li in list%}
					<div>
					<li class="u13_1">{{li.id}}</li>
					<li class="u13_2"><a href="/detail/{{li.vuser.id}}/">{{li.vuser.uname}}</a></li>
					<li class="u13_3">{{li.vuser.uphone}}</li>
					<li class="u13_4 vtemp">{{li.vtemp}}</li>
					<li class="u13_5">{{li.vtime}}</li>
					</div>>
					{%endfor%}
				</ul>
			</div>
				<div class="box3_1_2" style="overflow: auto">
				<ul class="ul2">
					<li class="u13_1">UID</li>
					<li class="u13_2">Name</li>
					<li class="u13_3">Telephone</li>
					<li class="u13_4">Tempture(°C)</li>
					<li class="u13_5">Visit'time</li>
				</ul>
				<ul class="ul3">
                    {%for li in dlist%}
                    <li class="u13_1">{{li.id}}</li>
					<li class="u13_2"><a href="#">{{li.vuser.uname}}</a></li>
					<li class="u13_3">{{li.vuser.uphone}}</li>
					<li class="u13_4">{{li.vtemp}}</li>
					<li class="u13_5">{{li.vtime}}</li>
					{%endfor%}
				</ul>
			</div>
			</div>
		</div>
	</body>
</html>
