@charset "utf-8";
/* CSS Document */

		.box1{
			position: absolute;
			left: 28%;
			top: 10%;
			width: 40%;
			height: 70%;
			background-color: white;
			padding: 0;
			margin: 0;
			border: 6px solid #000000;
		}
		.box1_1{
			position: relative;
			top: 0%;
			left: 0%;
			width: 50%;
			height: 39%;
			background-color: white;
			float: left;
			margin: 0;
			padding: 0;
			border-bottom: 5px solid black;
		}
		.box1_1_1{
			position: relative;
			width: 50%;
			height: 100%;
			background-color: white;
			float: left;
			font-size: 0;
			text-align: center;
			padding: 0;
			margin: 0;
		}
		.box1_1_1 li{
			position: relative;
			top: 15%;
			list-style: none;
			font-size: 1rem;
			font-weight: bold;
			margin: 10% 0;
		}
		.box1_1_2{
			position: relative;
			left: 0%;
			width: 50%;
			height: 100%;
			background-color: white;
			float: left;
			font-size: 0;
			padding: 0;
			margin: 0;
		}
		.box1_1_2 li{
			position: relative;
			top: 15%;
			margin: 10% 0;
			list-style: none;
			font-size: 1rem;
		}
		.box1_2{
			position: relative;
			top: 0;
			left: 0;
			width: 50%;
			height: 39%;
			background-color: white;
			float: left;
			padding: 0;
			margin: 0;
			border-bottom: 5px solid black;
		}
		.box1_2 img{
			position: absolute;
			width: 60%;
			height: 80%;
			left: 20%;
			top:10%;
		}
		.box1_3{
			position: relative;
			top: 0;
			left: 0px;
			width: 100%;
			height: 50%;
			background-color: white;
			padding: 0;
			margin: 0;
			border-bottom: 2px solid black;
		}
		.box1_3_1 li{
			position: relative;
			left: 0%;
			list-style: none;
			font-weight: bold;
			margin: 0 15%;
			float: left;
		}
		.box1_3_2 li{
			position: relative;
			left: 4%;
			margin: 1% 15%;
			float: left;
			list-style: none;
		}
		.box1_4{
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 10%;
			background-color: white;
			text-align: center;
			padding: 0;
			margin: 0;
		}
		.box1_4 a{
			text-decoration: none;
			line-height: 150%;
			color: black;
			font-size: 1.875em;
		}
		.box1_4 a:hover{
			color: crimson;
		}
		.gif{
			position: absolute;
			top: 25%;
			width: 25%;
			height: 35%;
		}
